
$padding:1rem 1.25rem;
$gray-300: #e2e8f0;
$gray-100: #f7fafc;
$gray-500: #a0aec0;
$gray-600: #718096;
$emerald-200: #c6f6d5;
$emerald-700: #2f855a;
$white: #ffffff;
$blue-50: #f5f9ff;
$blue-100: #d0e1fd;
$blue-200: #abc9fb;
$blue-300: #85b2f9;
$blue-400: #609af8;
$blue-500: #3b82f6;
$blue-600: #326fd1;
$blue-700: #295bac;
$blue-800: #204887;
$blue-900: #183462;
$red-50: #fff5f5;
$red-100: #ffd0ce;
$red-200: #ffaca7;
$red-300: #ff8780;
$red-400: #ff6259;
$red-500: #ff3d32;
$red-600: #d9342b;
$red-700: #b32b23;
$red-800: #8c221c;
$red-900: #661814;
$gray-700:rgb(55 65 81);
$text-sm: 0.875rem;
$font-size-xs: 0.75rem;
$border-radius: 0.5rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;

$gray-300: #e2e8f0;
$gray-100: #f7fafc;
$gray-500: #a0aec0;
$gray-600: #718096;
$emerald-200: #c6f6d5;
$emerald-700: #2f855a;
$white: #ffffff;

$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$border-radius: 0.5rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;

$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only