
.sidebar {
    padding: 10px 20px;
}

.sidebar_menu {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgb(107 114 128);
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: start;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    &:hover {
       background-color: rgb(167 243 208);
         color: rgb(5 150 105);
    }
}
