.keyword {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    width: fit-content;
    margin: 20px 10px;
    padding-bottom: 0.2rem;
    background-color: rgb(229 231 235);
    color: rgb(75 85 99);
    border-radius: 0.75rem;
    cursor: pointer;
}

.article-card-holder {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.articles{
    display: grid;
    // grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin: 1rem;
}