.reader_card {
    cursor: pointer;
    // position: relative;
    border-color: rgb(229 231 235);
    background-color: rgb(255 255 255);
    border-radius: 0.75rem;
    border-width: 1px;
    height: 300px;
    img {
        height: 10rem;
        width: 100%;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        object-fit: cover;
        box-shadow:
            0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1);
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity,
            box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
    .description_container {
        padding: 0.5rem 1rem 1rem 1rem;
        h3 {
            margin: 0px !important;
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 500;
            color: rgb(17 24 39);
        }
        .description {
            margin-top: 0.1rem;
            font-size: 0.875rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            // -webkit-line-clamp: 3;
            // line-height: 1.625;
            color: rgb(107 114 128);
        }
    }
}
